.footer__list-link {
    gap: 18px;
    display: flex;
    list-style: none;
    padding: 0;
    border: solid red 1px;
}

@media screen and (max-width: 767px) {
    .footer__list-link {
        flex-direction: column;
    }
}