.cover {
  display: grid;
  grid-gap: 32px;
  grid-template-rows: repeat(2, min-content);
  margin: 0 auto;
  position: relative;
  max-width: 1184px;
}

.cover:before {
  content: '';
  background-color: #2A2C2F;
  bottom: 0;
  left: 0;
  opacity: .3;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s linear;
}

.cover:hover::before {
  opacity: 0.8;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cover {
    grid-gap: 16px;
  }
}