.cover__overlay {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-image: url("../../../images/trains.jpg");
    background-position: center;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 1/3;
}