.cover__title {
    border: solid red 1px;
    color: #ffffff;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 0;
    padding-bottom: 32px;
    text-align: center;
    text-decoration: none;
    width: 560px;
}

@media (min-width: 426px) and (max-width: 560px) {
    .cover__title {
      font-size: 32px;
      line-height: 36px;
    }
}

@media (max-width: 425px) {
    .cover__title {
      font-size: 32px;
      line-height: 36px;
      padding: 0 0 16px;
      width: 250px;
    }
}