.cover__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    padding-bottom: 32px;
    border: solid red 1px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    margin: 0;
    width: 560px;
}