.place__url-heading {
    color: #AAAAAA;;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 12px;
    padding-bottom: 12px;
    text-transform: uppercase;
    border: solid red 1px;
}